/* base definitions used in all css*/
:root {
  /* colors */
  --background-1: #181D23;
  --background-2: #1F2022;
  --text-1: #ADA7A0;
  --text-2: #ADA7A0;
  --icons-hover: #e7e2dc;
   /* other configs */
  --margin: 2rem;
  /* fonts */
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* general config */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.bio {
  font-size: 1.1rem;
  margin: 0;
}

.subtitle {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/* style icons */
.socials a {
  color: var(--text-right);
  display: inline-block;

  font-family: "fontello";
  font-size: 2.5rem;
  font-style: normal;

  margin: 1rem;
  margin-top: var(--margin);
}

/* changes icons appearance on hover */
.socials a:hover{
  transform: scale(1.1) rotate(10deg);
  color: var(--icons-hover);
  cursor: pointer;
}

/* –––––––––––--– CONTAINERS –––––––––––--–*/

/* base wrapper */
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
}

/* common for both main divisions */
.wrapper div {
  flex: 1;
}

/* left or top part */
.first-half {
  background: var(--background-1);

  /* subflex to store image and welcome text*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* profile image */
.first-half img {
  /* separation to other parts  */
  margin: var(--margin);

  /* image config */
  image-orientation: from-image;
  border-radius: 100%;
  width: 15rem;
}

/* welcome text */
.first-half h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--text-1);
}

/* right or bottom part */
.second-half {
  /* color coding */
  background: var(--background-2);
  color: var(--text-2);

  /* subflex to store image and welcome text*/
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* portrait mode - when vertical size is small or in phone/tablet */
@media only all and (orientation: portrait){
  .wrapper{
    flex-direction: column;
  }
  .subtitle {
    margin-top: 0rem;
  }
}


